In [7]:
# Doing all major librabry imports
import matplotlib.pyplot as plt 
import scikitplot as skplt
import numpy as np 
import pandas as pd 
import seaborn as sns 
import scipy.stats as stats
import re

from sklearn import datasets, metrics
from sklearn.linear_model import LinearRegression, LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict, KFold
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import roc_curve, auc, precision_recall_curve, average_precision_score
from matplotlib.colors import ListedColormap
from sklearn.pipeline import Pipeline, make_pipeline

plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import scikitplot as skplt
from matplotlib.colors import ListedColormap
from sklearn.metrics import classification_report, confusion_matrix

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.options.display.float_format = '{:.2f}'.format

import wbdata as wb

In [8]:
df = wb.get_dataframe({"NY.GNP.PCAP.CD": "GNI", "SI.POV.DDAY": "POV"}, country="LMY", keep_levels=False)
df.head()

         GNI   POV
date
2020     nan   nan
2019 5101.82   nan
2018 4848.69   nan
2017 4530.66 10.90
2016 4455.44 11.50

In [9]:
df.reset_index(inplace=True) 
df.dropna(inplace=True)

In [10]:
df.head()

   date     GNI   POV
3  2017 4530.66 10.90
4  2016 4455.44 11.50
5  2015 4546.59 12.00
6  2014 4663.07 12.70
7  2013 4509.46 13.50

In [11]:
df.corr()

      GNI   POV
GNI  1.00 -0.92
POV -0.92  1.00

In [12]:
wb.get_country(incomelevel='LMY')

id    name
----  ------------------------------
AFG   Afghanistan
AGO   Angola
ALB   Albania
ARG   Argentina
ARM   Armenia
ASM   American Samoa
AZE   Azerbaijan
BDI   Burundi
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BIH   Bosnia and Herzegovina
BLR   Belarus
BLZ   Belize
BOL   Bolivia
BRA   Brazil
BTN   Bhutan
BWA   Botswana
CAF   Central African Republic
CHN   China
CIV   Cote d'Ivoire
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CUB   Cuba
DJI   Djibouti
DMA   Dominica
DOM   Dominican Republic
DZA   Algeria
ECU   Ecuador
EGY   Egypt, Arab Rep.
ERI   Eritrea
ETH   Ethiopia
FJI   Fiji
FSM   Micronesia, Fed. Sts.
GAB   Gabon
GEO   Georgia
GHA   Ghana
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRD   Grenada
GTM   Guatemala
GUY   Guyana
HND   Honduras
HTI   Haiti
IDN   Indonesia
IND   India
IRN   Iran, Islamic Rep.
IRQ   Iraq
JAM   Jamaica
JOR   Jordan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LKA   Sri Lanka
LSO   Lesotho
MAR   Morocco
MDA   Moldova
MDG   Madagascar
MDV   Maldives
MEX   Mexico
MHL   Marshall Islands
MKD   North Macedonia
MLI   Mali
MMR   Myanmar
MNE   Montenegro
MNG   Mongolia
MOZ   Mozambique
MRT   Mauritania
MWI   Malawi
MYS   Malaysia
NAM   Namibia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NPL   Nepal
PAK   Pakistan
PER   Peru
PHL   Philippines
PNG   Papua New Guinea
PRK   Korea, Dem. Peopleâ€™s Rep.
PRY   Paraguay
PSE   West Bank and Gaza
RUS   Russian Federation
RWA   Rwanda
SDN   Sudan
SEN   Senegal
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SOM   Somalia
SRB   Serbia
SSD   South Sudan
STP   Sao Tome and Principe
SUR   Suriname
SWZ   Eswatini
SYR   Syrian Arab Republic
TCD   Chad
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLS   Timor-Leste
TON   Tonga
TUN   Tunisia
TUR   Turkey
TUV   Tuvalu
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VNM   Vietnam
VUT   Vanuatu
WSM   Samoa
XKX   Kosovo
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe

In [13]:
country = [
    'AFG',
'AGO',
'ALB',
'ARG',
'ARM',
'ASM',
'AZE',
'BDI',
'BEN',
'BFA',
'BGD',
'BGR',
'BIH',
'BLR',
'BLZ',
'BOL',
'BRA',
'BTN',
'BWA',
'CAF',
'CHN',
'CIV',
'CMR',
'COD',
'COG',
'COL',
'COM',
'CPV',
'CRI',
'CUB',
'DJI',
'DMA',
'DOM',
'DZA',
'ECU',
'EGY',
'ERI',
'ETH',
'FJI',
'FSM',
'GAB',
'GEO',
'GHA',
'GIN',
'GMB',
'GNB',
'GNQ',
'GRD',
'GTM',
'GUY',
'HND',
'HTI',
'IDN',
'IND',
'IRN',
'IRQ',
'JAM',
'JOR',
'KAZ',
'KEN',
'KGZ',
'KHM',
'KIR',
'LAO',
'LBN',
'LBR',
'LBY',
'LCA',
'LKA',
'LSO',
'MAR',
'MDA',
'MDG',
'MDV',
'MEX',
'MHL',
'MKD',
'MLI',
'MMR',
'MNE',
'MNG',
'MOZ',
'MRT',
'MUS',
'MWI',
'MYS',
'NAM',
'NER',
'NGA',
'NIC',
'NPL',
'NRU',
'PAK',
'PER',
'PHL',
'PNG',
'PRK',
'PRY',
'PSE',
'ROU',
'RUS',
'RWA',
'SDN',
'SEN',
'SLB',
'SLE',
'SLV',
'SOM',
'SRB',
'SSD',
'STP',
'SUR',
'SWZ',
'SYR',
'TCD',
'TGO',
'THA',
'TJK',
'TKM',
'TLS',
'TON',
'TUN',
'TUR',
'TUV',
'TZA',
'UGA',
'UKR',
'UZB',
'VCT',
'VEN',
'VNM',
'VUT',
'WSM',
'XKX',
'YEM',
'ZAF',
'ZMB',
'ZWE'
]

In [14]:
df = wb.get_dataframe({"NY.GNP.PCAP.CD": "GNI", "SI.POV.DDAY": "POV"}, country=country, keep_levels=False)
df.head()

                    GNI  POV
country     date
Afghanistan 2020    nan  nan
            2019 540.00  nan
            2018 550.00  nan
            2017 560.00  nan
            2016 570.00  nan

In [15]:
df.reset_index(inplace=True)

In [16]:
df.dropna(inplace=True)

In [18]:
df[df.country=='India']

     country  date     GNI   POV
3242   India  2011 1360.00 22.50
3244   India  2009 1120.00 32.80
3249   India  2004  610.00 39.90
3260   India  1993  320.00 47.60
3266   India  1987  350.00 50.60
3270   India  1983  280.00 56.40
3276   India  1977  190.00 63.10

In [20]:
df[df.country=='India'].corr()

      GNI   POV
GNI  1.00 -0.95
POV -0.95  1.00

In [24]:
df[df.country=='Brazil'].corr()

      GNI   POV
GNI  1.00 -0.82
POV -0.82  1.00

In [30]:
df.corr()

      GNI   POV
GNI  1.00 -0.53
POV -0.53  1.00

In [ ]:
df = wb.get_dataframe("NY.GNP.PCAP.CD": 'GNIPC')